@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 2em;
  background: linear-gradient(0deg, hsla(358, 100%, 31%, 1) 0%, hsla(0, 0%, 0%, 1) 31%, hsla(0, 0%, 0%, 1) 72%, hsla(0, 0%, 0%, 1) 100%);
  background-attachment: fixed;
  color: white;
}
